<!DOCTYPE html>
<html>
<head>
    <title>Dashboard | CloudBank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="dashboard-page">
    <div class="dashboard-overlay">

        <h2>Welcome to CloudBank</h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <p style="color:green; font-weight:bold;">{{ messages[0] }}</p>
          {% endif %}
        {% endwith %}

        <p><strong>Account Balance:</strong> ₹{{ balance }}</p>

        <br>
        <p>Choose an action:</p>

        <div class="dashboard-links">

            <!-- Core Banking -->
            <a href="/deposit">Deposit</a>
            <a href="/withdraw">Withdraw</a>
            <a href="/transfer">Transfer</a>
            <a href="/history">Transaction History</a>

            <!-- Analytics & Monitoring -->
            <a href="/analytics_dashboard">Fraud Analytics</a>
            <a href="/generate_report">Report</a>

            <!-- Profile -->
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>

        </div>

    </div>
</div>

</body>
</html>
